#tabela {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabela td, #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabela tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabela tr:hover {background-color: #ddd;}
  
  #tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #titulo {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #subtitulo {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border: 1px solid #4CAF50;
    color: black;
    box-shadow: 1px 1px white;
  }